<div class="wrapper">
	<header>
		<!-- <div class="logo">
			<%#= link_to image_tag('Tiffin-Box.jpg'), root_path %>
		</div> -->
		<h1 class="company-name">Tiffin Box</h1>
		<h3 class="index-heading">Coming Soon...</h3>
	</header>
	<div class="content">
		<div class="hero-unit">
			<h2>Tiffin box is a food delivery service for people seeking Indian food after hours.</h2>
			<div class="promotion">
				<p class="promo-terms">Pick your <span>*free</span> dabba <span>this Wednesday, Thursday, or Friday</span> from <span>Parkwood Rec Center</span> @ <span>7:00pm</span></p>
				<h4>*Limited dabbas</h4>
			</div>	
		</div>
		<div class="row">
			<!-- <div class="col-md-4 col-sm-6 col-xs-6"> -->
			<div class="col-md-3 col-sm-6 col-x-sm col-xs-12">
				<div class="img-wrap">
					<%= image_tag('veg-biryani.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Rice cooked with vegetables, herbs, and spices.</p>
					<div class="transbox">
						<p class="item-name">Vegetarian Biryani</p>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-4 col-sm-6 col-xs-6"> -->
			<div class="col-md-3 col-sm-6 col-x-sm col-xs-12">
				<div class="img-wrap">
					<%= image_tag('chicken-curry.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Chicken cooked in onion, garlic, and ginger.</p>
					<div class="transbox">
						<p class="item-name">Chicken Curry</p>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-4 col-sm-6 col-xs-6"> -->
			<div class="col-md-3 col-sm-6 col-x-sm col-xs-12">
				<div class="img-wrap">
					<%= image_tag('chhole.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Garbanzo beans cooked in curry sauce.</p>
					<div class="transbox">
						<p class="item-name">Chhole Masala</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-x-sm col-xs-12">
				<div class="img-wrap">
					<%= image_tag('spaghetti.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Spaghetti cooked with vegetables, herbs, and spices.</p>
					<div class="transbox">
						<p class="item-name">Indian Spaghetti</p>
					</div>
				</div>
			</div>
		</div>
		<div class="push"></div>
	</div>
</div>
<footer>
	<p>Developed by: <a href="mailto:absingharora@gmail.com">Ajay Singh</a></p>
</footer>