<div class="wrapper">
	<header>
		<!-- <div class="logo">
			<%#= link_to image_tag('Tiffin-Box.jpg'), root_path %>
		</div> -->
		<h1 class="company-name">Tiffin Box</h1>
		<h3 class="index-heading">Aaj Ka Dabba</h3>
	</header>
	<div class="content">
		<div class="hero-unit">
			<h1>Coming Soon...</h1>
			<h2>Tiffin box is a food delivery service for people seeking Indian food after hours.</h2>
			<div class="promotion">
				<p>Pick your <span>*free</span> dabba <span>this Wednesday, Thursday, & Friday</span></p>
				<p>from <span>Parkwood Rec Center</span> @ <span>7:00pm</span></p>
				<h4>*Limited dabbas</h4>
			</div>
			<div class="promo-img">
				<%= image_tag('yum-smiley.png', class: 'img-responsive') %>
			</div>
			
		</div>
		<!-- <div class="row"> -->

			<!-- <div class="col-md-4 col-sm-6 col-xs-6">
				<div class="img-wrap">
					<%#= image_tag('chicken-biryani.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="transbox">
						<p class="item-name">Chicken Biryani</p>
					</div>
				</div>
			</div> -->
			<!-- <div class="col-md-4 col-sm-6 col-xs-6">
				<div class="img-wrap">
					<%#= image_tag('chicken-biryani.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="transbox">
						<p class="item-name">Vegetarian Biryani</p>
					</div>
				</div>
			</div> -->
			<!-- <div class="col-md-4 col-sm-6 col-xs-6">
				<div class="img-wrap">
					<%#= image_tag('chicken-biryani.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="transbox">
						<p class="item-name">Mutton Biryani</p>
					</div>
				</div>
			</div> -->
		<!-- </div> -->
		<div class="push"></div>
	</div>
</div>
<footer>
	<p>Developed by: <a href="mailto:absingharora@gmail.com">Ajay Singh</a></p>
</footer>