<div class="wrapper">
	<header>
		<!-- <div class="logo">
			<%#= link_to image_tag('Tiffin-Box.jpg'), root_path %>
		</div> -->
		<h1 class="company-name">Tiffin Box</h1>
		<h3 class="index-heading">Aaj Ka Dabba</h3>
	</header>
	<div class="content">
		<div class="hero-unit">
			<h2>Tiffin box is a food delivery service for people seeking Indian food after hours.</h2>	
		</div>
		<div class="row">
			<!-- <div class="col-md-4 col-sm-6 col-xs-6"> -->
			<div class="col-md-3 col-sm-6 col-x-sm col-xs-12">
				<div class="img-wrap">
					<%= image_tag('veg-biryani.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Rice cooked with vegetables, herbs, and spices.</p>
					<div class="transbox">
						<p class="item-name">Vegetarian Biryani</p>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-4 col-sm-6 col-xs-6"> -->
			<div class="col-md-3 col-sm-6 col-x-sm col-xs-12">
				<div class="img-wrap">
					<%= image_tag('chicken-curry.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Chicken cooked in onion, garlic, and ginger.</p>
					<div class="transbox">
						<p class="item-name">Chicken Curry</p>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-4 col-sm-6 col-xs-6"> -->
			<div class="col-md-3 col-sm-6 col-x-sm col-xs-12">
				<div class="img-wrap">
					<%= image_tag('aloo-matar.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Potatoes and garden peas cooked with onions, garlic, and spices.</p>
					<div class="transbox">
						<p class="item-name">Aloo Matar</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-x-sm col-xs-12">
				<div class="img-wrap">
					<%= image_tag('chapati.jpg', class: 'img-responsive food-img') %>
					<p class="img-description">Wheat bread cooked on a skillet.</p>
					<div class="transbox">
						<p class="item-name">Chapati</p>
					</div>
				</div>
			</div>
		</div>
		<div class="push"></div>
	</div>
</div>
<footer>
	<p>Developed by: <a href="mailto:absingharora@gmail.com">Ajay Singh</a></p>
</footer>