<header>
	<h1 class="company-name">Tiffin Box</h1>
	<h3 class="index-heading">Aaj Ka Dabba</h3>
</header>
<%= render 'partials/flash_messages' %>
<div class="content">
	<div class="hero-unit">
		<h2>Coming Soon...</h2>
	</div>
	<div class="push"></div>
</div>
