<!DOCTYPE html>
<html>
<head>
  <title>TiffinBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width" />
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<%= yield %>
	</div>

	<footer>
		<p>Developed by: <a href="mailto:absingharora@gmail.com">Ajay Singh</a></p>
	</footer>
</body>
</html>
